Source: contentserv-cs16.1
Section: misc
Priority: optional
Maintainer: Chaitanya Kore <chaitanya.kore@contentserv.com>
Build-Depends:
# no actual build takes place, so no dependencies
Standards-Version: 3.9.2
Homepage: http://www.contentserv.com

Package: contentserv-cs16.1-core
Architecture: all
Pre-Depends: php7.0, php-dev,php-pear
Depends: aspell, aspell-en, aspell-de, barcode, build-essential, libuv-dev, libgmp-dev,
         cassandra-cpp-driver-dev, curl, exiftool, ffmpeg, ghostscript,
         apache2 (>= 2.4.0), coreutils, html2text, imagemagick (>= 8:6.9.0), 
         java8-runtime | java8-runtime-headless, libapache2-mod-php7.0,
         mariadb-client (>= 10.1) | mysql-client (>= 5.7.18),
         memcached, net-tools, 
         php7.0-curl, php7.0-gd, php7.0-gmp,
         php7.0-imap, php7.0-intl, php7.0-json,
         php7.0-ldap, php7.0-mbstring, php7.0-mcrypt, php7.0-mysql, php7.0-recode,
         php7.0-soap, php7.0-xml, php7.0-xmlrpc,
         php-http, php-memcache, php-memcached, 
         poppler-utils, subversion, supervisor, zip
Provides: contentserv-cs-core
Description: Contentserv-CS core package 
 This package contains CS Core only

Package: contentserv-cs16.1-live
Architecture: all
Pre-Depends: contentserv-cs16.1-core
Provides: contentserv-cs-live
Description: Contentserv-CS demo project package
 This package contains CS demo site (CSLive) and corresponding database

Package: contentserv-cs16.1-docs
Architecture: all
Depends: contentserv-cs16.1-core
Provides: contentserv-cs-docs
Description: Contentserv-CS documentation package 
 This package contains CS documentation

Package: contentserv-cs16.1-dev
Architecture: all
Depends: contentserv-cs16.1-core
Provides: contentserv-cs-dev
Description: Contentserv-CS package for developers and QAs
 This package contains CS admin.test folder

Package: contentserv-cs16.1-svn
Architecture: all
Depends: contentserv-cs16.1-core, contentserv-cs16.1-live, contentserv-cs16.1-docs, contentserv-cs16.1-dev
Provides: contentserv-cs-svn
Description: Contentserv-CS subversion data package for all packages
 This package contains CS .svn directory tree for the whole project
