Source: contentserv-cs
Section: misc
Priority: optional
Maintainer: Kirill Peskov <kpeskov@contentserv.com>
Build-Depends:
# no actual build takes place, so no dependencies
Standards-Version: 3.9.2
Homepage: http://www.contentserv.com

Package: contentserv-cs-core
Architecture: all
Depends: php (>= 7.0), apache2 (>= 2.4.0), libapache2-mod-php,
         php-zend-stdlib, php-curl, php-gd, php-gmp, 
         php-http, php-imap, php-intl, php-json,
         php-ldap, php-mcrypt, php-memcache, php-memcached,
         php-mysqlnd, php-recode, php-xdebug, php-xml,
         mysql-client | mariadb-client,
         java8-runtime, java8-runtime-headless
Description: Contentserv-CS core package 
 This package contains CS Core only

Package: contentserv-cs-live
Architecture: all
Depends: contentserv-cs-core
Description: Contentserv-CS demo package 
 This package contains CS demo site (CSLive) and corresponding database

Package: contentserv-cs-docs
Architecture: all
Depends: contentserv-cs-core
Description: Contentserv-CS documentation package 
 This package contains CS documentation

Package: contentserv-cs-dev
Architecture: all
Depends: contentserv-cs-core
Description: Contentserv-CS package for developers and QAs
 This package contains CS admin.test folder
