#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

override_dh_fixperms:
	dh_fixperms
	find ./debian/contentserv-cs-core -type d -name .svn | xargs rm -rf
	find ./debian/contentserv-cs-live -type d -name .svn | xargs rm -rf
	find ./debian/contentserv-cs-docs -type d -name .svn | xargs rm -rf
	find ./debian/contentserv-cs-dev -type d -name .svn | xargs rm -rf
	find ./debian/contentserv-cs-core -type d -name .git | xargs rm -rf
	find ./debian/contentserv-cs-live -type d -name .git | xargs rm -rf
	find ./debian/contentserv-cs-docs -type d -name .git | xargs rm -rf
	find ./debian/contentserv-cs-dev -type d -name .git | xargs rm -rf
	chown -R www-data:www-data ./debian/contentserv-cs-core/var/lib/contentserv-cs
	chown -R www-data:www-data ./debian/contentserv-cs-docs/var/lib/contentserv-cs
	chown -R www-data:www-data ./debian/contentserv-cs-live/var/lib/contentserv-cs
	chown -R www-data:www-data ./debian/contentserv-cs-dev/var/lib/contentserv-cs

