Source: contentserv-cs18.0
Section: misc
Priority: optional
Maintainer: Chaitanya Kore  <chaitanya.kore@contentserv.com>
Build-Depends:
# no actual build takes place, so no dependencies
Standards-Version: 3.9.2
Homepage: http://www.contentserv.com

Package: contentserv-cs18.0-deps
Architecture: all
Pre-Depends: build-essential, coreutils, curl, findutils, software-properties-common, grep, php7.1, 
              python (>=2.7), python-pip, python-setuptools,
             python-wheel, sed
Replaces: contentserv-cs18.0-core (<= 17.99.0)
Breaks: contentserv-cs18.0-core (<= 17.99.0)
Depends: aspell, aspell-en, aspell-de, barcode,cassandra-cpp-driver, libuv1, libuv1-dev,
         debconf-utils, exiftool, ffmpeg, ghostscript,cassandra-cpp-driver-dev,
         apache2 (>= 2.4.0), html2text, imagemagick (>= 8:6.9.7.4),
         java8-runtime | java8-runtime-headless, libapache2-mod-php7.1, libgmp-dev,
         mysql-client-5.7 (>= 5.7.22) | mariadb-client-10.3 (>= 10.3),
         memcached, net-tools, ncurses-bin,
         php7.1-curl, php7.1-gd, php7.1-gmp,
         php7.1-imap, php7.1-intl, php7.1-json,
         php7.1-ldap, php7.1-mbstring, php7.1-mcrypt, php7.1-mysql, php7.1-recode,
         php7.1-soap, php7.1-xml, php7.1-xmlrpc, php7.1-zip, php7.1-dev, php-pear,
         php-http, php-memcache, php-memcached, poppler-utils, python-requests,
         subversion, sudo, tar, xz-utils, zip, unzip
Provides: contentserv-cs-deps
Description: Contentserv-CS dependencies and utilities package 
 This package contains dependencies and CS utilities

Package: contentserv-cs18.0-core
Architecture: all
Pre-Depends: contentserv-cs18.0-deps
Provides: contentserv-cs-core
Description: Contentserv-CS core package 
 This package contains CS Core only

Package: contentserv-cs18.0-live
Architecture: all
Pre-Depends: contentserv-cs18.0-core
Provides: contentserv-cs-live
Description: Contentserv-CS demo project package
 This package contains CS demo site (CSLive) and corresponding database

Package: contentserv-cs18.0-docs
Architecture: all
Depends: contentserv-cs18.0-core
Provides: contentserv-cs-docs
Description: Contentserv-CS documentation package 
 This package contains CS documentation

Package: contentserv-cs18.0-dev
Architecture: all
Depends: contentserv-cs18.0-core
Provides: contentserv-cs-dev
Description: Contentserv-CS package for developers and QAs
 This package contains CS admin.test folder

Package: contentserv-cs18.0-svn
Architecture: all
Depends: contentserv-cs18.0-core, contentserv-cs18.0-live, contentserv-cs18.0-docs, contentserv-cs18.0-dev
Provides: contentserv-cs-svn
Description: Contentserv-CS subversion data package for all packages
 This package contains CS .svn directory tree for the whole project
