#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

# Overriding prep phase to collect all .svn dirs so they could be packed
# separately later on
override_dh_prep:
	dh_prep
	if [ -d contentserv-cs ] ; then rm -rf contentserv-cs ; fi
	mkdir contentserv-cs
	find . -type d -name ".svn" | grep -v contentserv-cs | xargs -I sourcefile cp -v -r --parents sourcefile contentserv-cs

override_dh_fixperms:
	dh_fixperms
	find ./debian/contentserv-cs18.0-deps -type d -name ".svn" | xargs -I dirtoremove rm -rf "dirtoremove"
	find ./debian/contentserv-cs18.0-core -type d -name ".svn" | xargs -I dirtoremove rm -rf "dirtoremove"
	find ./debian/contentserv-cs18.0-live -type d -name ".svn" | xargs -I dirtoremove rm -rf "dirtoremove"
	find ./debian/contentserv-cs18.0-docs -type d -name ".svn" | xargs -I dirtoremove rm -rf "dirtoremove"
	find ./debian/contentserv-cs18.0-dev -type d -name ".svn" | xargs -I dirtoremove rm -rf "dirtoremove"
	find ./debian/contentserv-cs18.0-deps -type d -name ".git" | xargs -I dirtoremove rm -rf "dirtoremove"
	find ./debian/contentserv-cs18.0-core -type d -name ".git" | xargs -I dirtoremove rm -rf "dirtoremove"
	find ./debian/contentserv-cs18.0-live -type d -name ".git" | xargs -I dirtoremove rm -rf "dirtoremove"
	find ./debian/contentserv-cs18.0-docs -type d -name ".git" | xargs -I dirtoremove rm -rf "dirtoremove"
	find ./debian/contentserv-cs18.0-dev -type d -name ".git" | xargs -I dirtoremove rm -rf "dirtoremove"
	chown -R www-data:www-data ./debian/contentserv-cs18.0-deps/var/lib/contentserv-cs
	chown -R www-data:www-data ./debian/contentserv-cs18.0-core/var/lib/contentserv-cs
	chown -R www-data:www-data ./debian/contentserv-cs18.0-docs/var/lib/contentserv-cs
	chown -R www-data:www-data ./debian/contentserv-cs18.0-live/var/lib/contentserv-cs
	chown -R www-data:www-data ./debian/contentserv-cs18.0-dev/var/lib/contentserv-cs
	chown -R www-data:www-data ./debian/contentserv-cs18.0-svn/var/lib/contentserv-cs

