Source: contentserv-cs16.0
Section: misc
Priority: optional
Maintainer: Chaitanya Kore <chaitanya.kore@contentserv.com>
Build-Depends:
# no actual build takes place, so no dependencies
Standards-Version: 3.9.2
Homepage: http://www.contentserv.com

Package: contentserv-cs16.0-deps
Architecture: all
Pre-Depends: cassandra-cpp-driver-dev, coreutils, curl, findutils, grep,
         libuv-dev, libgmp-dev,
         php5.6, php5.6-dev, php-pear(>=1:1.10.5),
         php5.6-cli, php5.6-common, php5.6-http, php5.6-json, php5.6-opcache, php5.6-readline, php5.6-xml,
         python (>=2.7), python-pip, sed
Depends: aspell, aspell-en, aspell-de, barcode, build-essential,
         debconf-utils, exiftool, ffmpeg, ghostscript,
         apache2 (>= 2.4.0), html2text, imagemagick (>= 8:6.9.0),
         java8-runtime | java8-runtime-headless, libapache2-mod-php5.6,
         mariadb-client (>= 10.1) | mysql-client (>= 5.7),
         memcached, net-tools, ncurses-bin,
         php5.6-bcmath, php5.6-bz2,
         php5.6-curl, php5.6-gd, php5.6-gmp,
         php5.6-imap, php5.6-intl, php5.6-ldap, php5.6-mbstring,
         php5.6-mbstring, php5.6-mcrypt, php5.6-mysql,
         php5.6-recode, php5.6-soap, php5.6-xsl, php5.6-zip,
         php-memcache, php-memcached, poppler-utils, python-requests,
         subversion, sudo, tar, xz-utils, zip
Provides: contentserv-cs-deps
Description: Contentserv-CS dependencies and utilities package 
 This package contains dependencies and CS utilities

